<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit Boba Place</h1>
    <div class="col-6 offset-3">   
        <form action='/bobas/<%=boba._id %>?_method=PUT' method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for='title'>Title</label>
                <input class="form-control" type='text' id='title' name='boba[title]' value='<%= boba.title %>' required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for='location'>Location</label>
                <input class="form-control" type='text' id='location' name='boba[location]' value='<%= boba.location %>' required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for='image'>Add Images</label>
                <input type="file" name="image" id="image" multiple>
            </div>
            <div class="mb-3">
                <label class="form-label" for='price'>Average Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input type="text" class="form-control" id="price-label" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name='boba[price]' value='<%= boba.price %>' required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for='description'>Description</label>
                <textarea class="form-control" type='text' id='description' 
                    name='boba[description]' required><%= boba.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Boba Places</button>  
            </div>
        </form>
        <a href="/bobas/<%= boba._id %>">Back To Boba Place</a>
    </div>
</div>