<% layout('layouts/boilerplate')%>
<h1>All Boba Places</h1>
<div>
    <a href="/bobas/new">Add New Boba Places</a>
</div>
<% for (let boba of bobas) { %>
    <div class="card" mb-3>
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" alt="" src="<%= boba.image %>">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= boba.title %></h5>
                    <p class="card-text"><%= boba.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= boba.location %></small>
                    </p>
                    <a class="btn btn-primary" href="/bobas/<%= boba._id %>">View <%= boba.title %></a>
                </div>
            </div>
        </div>
    </div>
<% } %>