<% layout('layouts/boilerplate')%>
<div id="map" style="width: 100%; height: 500px"></div>
<h1>All Boba Places</h1>
<div>
    <a href="/bobas/new">Add New Boba Places</a>
</div>
<% for (let boba of bobas) { %>
    <div class="card" mb-3>
        <div class="row">
            <div class="col-md-4">
                <% if(boba.images.length) { %>
                <img class="img-fluid" alt="" src="<%= boba.images[0].url %>">
                <% } else { %>
                // show default image if no image found
                <img class="img-fluid" alt="" src="https://res.cloudinary.com/dx1fbfw74/image/upload/v1628051992/BobaLovers/cdpysyi22txwhlnt4ogg.jpg">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= boba.title %></h5>
                    <p class="card-text"><%= boba.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= boba.location %></small>
                    </p>
                    <a class="btn btn-primary" href="/bobas/<%= boba._id %>">View <%= boba.title %></a>
                </div>
            </div>
        </div>
    </div>
<% } %>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const bobas = {features: <%- JSON.stringify(bobas) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>